@font-face {
  font-family: "Noto Sans JP";
  src: url("../../font/NotoSansJP-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../../font/NotoSansJP-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../../font/NotoSansJP-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../../font/NotoSansJP-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../../font/NotoSansJP-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

html {
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: YakuHanJP, "Noto Sans JP", sans-serif;
  background-color: #e2e0dc;
  color: #343838;
  font-weight: 400;
  word-break: break-all;
  line-break: strict;
}

.w-h-100per {
  width: 100%;
  height: 100%;
}

#close {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  z-index: 10;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(80%);
}

.background {
  width: 100%;
  height: fit-content;
  background-color: #e2e0dc;
  color: #4b4b4b;
  font-size: 15px;
  animation: fadeout-b 750ms 0s ease forwards reverse;
  opacity: 0;
}

.fadeout-b {
  animation: fadeout 750ms 0ms ease forwards;
}

.info-wrapper {
  width: 880px;
  height: 250px;
  font-size: 14px;
  margin: 30px 0 100px 0;
}

.works-text {
  width: 880px;
  margin: 50px 0;
}

.info-row {
  width: 100%;
  height: 20%;
  letter-spacing: 1px;
}

.infoname {
  margin-left: 10px;
  width: 60px;
  white-space: nowrap;
}

.mobileurl {
  display: none;
}

.line {
  width: 70px;
  height: 2px;
  background-color: #cba671;
  margin: 0px 50px;
}

.url::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #343838;
  transform: scaleX(1);
  transform-origin: left center;
  transition: all 300ms ease 0ms;
}

.url:hover::after {
  transform: scaleX(1.1);
}

.googleplay {
  margin-left: 25px;
}

.appstore {
  margin-right: 25px;
}

h1 {
  margin-top: 100px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 6px;
}

.subinfo {
  font-size: 15px;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: 30px;
}

.role {
  margin-top: 10px;
}

.preview {
  width: 880px;
  height: 550px;
  margin: 100px 0px;
}

.site-preview {
  width: 45%;
  height: 550px;
  overflow-y: hidden;
  position: relative;
}

.site-preview img {
  width: 100%;
  height: auto;
}

.canscroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4b4b4b;
  opacity: 0.9;
}

.mouse {
  width: 50px;
  height: 120px;
  border: #e2e0dc 2px solid;
  border-radius: 50px;
}

.mousewheel {
  width: 25px;
  height: 25px;
  background-color: #e2e0dc;
  border-radius: 100%;
  margin-top: 20px;
  animation: canscroll 2s infinite;
}

.site-preview-wrapper {
  width: 880px;
  height: 550px;
  margin-bottom: 20vh;
}

.screenshots {
  width: 200px;
  height: fit-content;
}

.screenshot {
  width: 60vw;
  height: auto;
}

.icon {
  width: 300px;
  height: fit-content;
  border-radius: 50px;
  margin: 100px 0px;
}

.text {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 2px;
}

.bold {
  font-weight: 700;
}

.margin-cancel {
  margin-top: 0;
}

.scrtotop {
  position: fixed;
  bottom: 50px;
  right: 150px;
  width: 60px;
  height: 60px;
  z-index: 10;
  border-radius: 100%;
  transform: rotate(180deg) scale(1.2);
  transition: all 500ms ease;
  opacity: 0;
  pointer-events: none;
}

.scrtotop:hover {
  transform: rotate(180deg) scale(1.2);
}

.scrtotop-img {
  width: 60%;
  height: 60%;
}

.roundcircle {
  position: absolute;
  top: 0;
  left: 0;
  animation: round 3s cubic-bezier(0.87, 0, 0.13, 1) 0s infinite;
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transition: all 500ms ease;
  transform: rotate(180deg) scale(1);
}

.relative {
  position: relative;
}

@keyframes fadeout-b {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes canscroll {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 60px);
    opacity: 0;
  }
}

/* Galaxy Fold*/
@media screen and (max-width: 300px) {
  h1 {
    font-size: 15px;
    margin-top: 70px;
  }
  #close {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  .subinfo {
    font-size: 10px;
    margin-top: 20px;
    transform: scale(0.9);
  }
  .preview {
    width: 90vw;
    height: fit-content;
  }
  .site-preview-wrapper {
    width: 90vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
  }
  .site-preview {
    width: 90vw;
    height: 50vh;
  }
  .pcurl {
    display: none;
  }
  .mobileurl {
    display: block;
  }
  .works-text {
    width: 88vw;
    margin: 50px 0;
  }
  .text {
    font-size: 10px;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .info-wrapper {
    width: 90vw;
    height: fit-content;
    font-size: 10px;
  }
  .info-row {
    width: 100%;
    margin-bottom: 20px;
  }
  .infoname {
    width: 43px;
  }
  .line {
    width: 30px;
    margin: 0px 10px;
  }
  .longurl {
    width: calc(90vw - 93px);
  }
  .margin-cancel {
    margin-top: 0;
  }
  .screenshot {
    width: 80vw;
  }
  .scrtotop {
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: calc(50% - 20px);
  }
  .icon {
    width: 200px;
    border-radius: 38px;
  }
  .appstore {
    margin-right: 2px;
  }
  .googleplay {
    margin-left: 2px;
  }
}

/* Mobile*/
@media screen and (min-width: 301px) and (max-width: 599px) {
  h1 {
    font-size: 20px;
  }
  .subinfo {
    font-size: 10px;
    margin-top: 20px;
  }
  .preview {
    width: 90vw;
    height: fit-content;
  }
  .works-text {
    width: 88vw;
    margin: 50px 0;
  }
  .text {
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .site-preview-wrapper {
    width: 90vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
  }
  .site-preview {
    width: 90vw;
    height: 50vh;
  }
  .pcurl {
    display: none;
  }
  .mobileurl {
    display: block;
  }
  .info-wrapper {
    width: 90vw;
    height: fit-content;
    font-size: 10px;
  }
  .info-row {
    width: 100%;
    margin-bottom: 20px;
  }
  .infoname {
    width: 43px;
  }
  .line {
    width: 30px;
    margin: 0px 10px;
  }
  .margin-cancel {
    margin-top: 0;
  }
  .screenshot {
    width: 80vw;
  }
  .scrtotop {
    bottom: 20px;
    right: calc(50% - 30px);
  }
  .icon {
    width: 200px;
    border-radius: 38px;
  }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  h1 {
    font-size: 30px;
  }
  .subinfo {
    font-size: 10px;
    margin-top: 20px;
  }
  .preview {
    width: 90vw;
    height: fit-content;
  }
  .works-text {
    width: 88vw;
    margin: 50px 0;
  }
  .text {
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .site-preview-wrapper {
    width: 90vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
  }
  .site-preview {
    width: 90vw;
    height: 50vh;
  }
  .info-wrapper {
    width: 90vw;
    height: fit-content;
    font-size: 10px;
  }
  .info-row {
    width: 100%;
    margin-bottom: 20px;
  }
  .infoname {
    width: 43px;
  }
  .line {
    width: 30px;
    margin: 0px 10px;
  }
  .margin-cancel {
    margin-top: 0;
  }
  .screenshot {
    width: 80vw;
  }
  .scrtotop {
    bottom: 20px;
    right: calc(50% - 30px);
  }
}
/*# sourceMappingURL=style.css.map */